# Django
Django>=5.0,<6.0
djangorestframework>=3.14,<4.0
django-filter>=23.0
django-cors-headers>=4.3

# Database
psycopg2-binary>=2.9
dj-database-url>=2.0

# Redis + Celery
redis>=5.0
celery>=5.3
django-celery-beat>=2.5

# Utils
python-dotenv>=1.0
dj-static>=0.0.6
gunicorn>=21.0

# Testing
pytest>=7.4
pytest-django>=4.7
pytest-cov>=4.1
factory-boy>=3.3

# Dev
ipython
